body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.quiz-page {
    height: 100vh;
    display: flex;
    background: #eee;
    flex-direction: column;
    align-items: center;
}

.quiz-page .header {
    font-size: 30px;
    background: #777;
    width: 100%;
    text-align: center;
    height: 15vh;
}

/* .quiz-page .header h1 {
    position: absolute;
    top: 20;
} */

.quiz-page .intro {
    text-align: center;
    font-size: 24px;
    background: #eee777;
    width: 100%;
}

.quiz-form .submit {
    display: flex;
    justify-content: center;
}

.quiz-form .submit input {
    width: 150px;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #777;
    color: white;
}

.quiz-form .submit input:hover {
    background-color: white;
    color: #777;
    cursor: pointer;
}

.quiz-page .result {
    background-color: limegreen;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

